<footer class="bg-secondary text-white py-4">
     <div class="container">
          <div class="row align-items-center justify-content-center">
               <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-start">
                    <p class="mb-0 d-inline">© 2024 Project By <a class="text-white" href="mailto:mraflyritonga@gmail.com">Rafly</a> <small>(Chat For Collaboration)</small></p>
               </div>
               <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-end">
                    <p class="mb-0 d-inline">Find More on:</p>
                    <a href="https://github.com/raflyritonga" target="_blank"
                         class="text-decoration-none d-inline">
                         <img src="/images/github-logo.png" alt="GitHub" style="height: 30px; vertical-align: middle;"
                              class="ms-2">
                    </a>
               </div>
          </div>
     </div>
</footer>