<div id="form-container" class="container-md mb-5 mt-4">
     <div class="d-flex justify-content-center">
          <div class="card col-md-7 col-lg-7 col-12 mt-4 shadow border-0">
               <div class="card-body">
                    <p class="text-center fw-semibold">Masukkan alamatmu dan teman-temanmu</p>
                    <form id="form" method="post" action="">
                         <div id="adressContainer">
                              <div class="mb-3">
                                   <label class="form-label">Alamat Kamu</label>
                                   <div class="d-flex align-items-center justify-content-between">
                                        <input id="pac-input" type="text" class="form-control" name="adress" required>
                                   </div>
                              </div>
                              <div class="mb-3">
                                   <label class="form-label">Alamat Temanmu</label>
                                   <div class="d-flex align-items-center justify-content-between">
                                        <input id="pac-input" type="text" class="form-control" name="adress" required>
                                   </div>
                              </div>
                         </div>

                         <div class="d-flex align-items-center justify-content-between mb-2">
                              <a class="text-primary " href="#" id="addMore">Tambah alamat</a>
                         </div>

                         <button type="button" id="submitButton" class="btn btn-primary w-100 rounded-2">Cari</button>
                    </form>
               </div>
          </div>
     </div>
</div>

