<div class="container mt-4 mb-4">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <span id="logo" class="navbar-brand mb-0 mx-auto">Ketemuan.</span>
    </div>
  </nav>
</div>